<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" th:href="@{/}">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" th:href="@{/about}">À propos</a></li>
      <li class="nav-item"><a class="nav-link" th:href="@{/product}">Produits</a></li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>

      <li class="nav-item" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" class="d-inline">
          <button type="submit" class="btn btn-link nav-link" style="border: none; padding: 0;">
            Logout
          </button>
        </form>
      </li>

      <li class="nav-item" sec:authorize="isAuthenticated()">
        <span class="ml-1" sec:authentication="name"></span>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
